.gallery-container {
    width: 70vw;
    margin: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.6;
    font-family: 'sanfrancisco', sans-serif;
    border-radius: 13px;
}


.center-box-container {
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 52vw;
  margin: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid black;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.6;
  border-radius: 13px;
}

.gallery-container a {
  color: rgb(24, 124, 255);
}

.gallery-container a:hover, .a:active {
  color: rgb(0, 61, 141);
}


.big, .medium, .smol {
    font-family: 'sanfrancisco', sans-serif;

}


.big{
    font-size: 2.6em;
    cursor: default;
}

.medium{
    font-size: 1.6em;
    padding-left: 2.5vh;
    cursor: default;
    border-bottom: 1px solid black;
}

.smol{
  font-size: 0.9em;
}

p{
    font-size: 1em;
    padding-left: 5vh;
}


@media (max-width: 1244px) {
    .gallery-container {
        width: 71vw;
        margin: auto;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        border: 1px solid black;
        padding: 15px;
        box-sizing: border-box;
        text-align: left;
        line-height: 1.6;
        font-family: 'sanfrancisco', sans-serif;
      }
      
      .big, .medium, .smol {
        font-family: 'sanfrancisco', sans-serif;
      }
      
      .big {
        font-size: 2.3em;
        cursor: default;
      }
      
      .medium {
        font-size: 1.3em;
        padding-left: 2.5vw;
        cursor: default;
      }
      
      p {
        font-size: 0.9em;
        padding-left: 5vw;
      }
      
  }