#gallery-description{
    max-width: 47vw;
    text-align: center;
    margin: auto;
    font-family: 'productsanslight', sans-serif;
    font-size: 2em;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
  }

  #gallery-description:hover{
    cursor: default;
  }
  
  .gallery-navigation{
    border-radius: 13px;
    max-width: 43vw;
    font-family: 'sanfrancisco', sans-serif;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
  }
  .gallery-navigation:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.5s;
  }
  
    .inline-icon{
    vertical-align: -5px;
  }
  
  .inline-icon-drive{
    vertical-align: -8px;
  }

  .inline-icon-index{
    vertical-align: -3px;
  }

  @media (max-width: 1244px) {
    #gallery-description{
      text-align: center;
      margin: auto;
      font-family: 'productsanslight', sans-serif;
      font-size: 1.7em;
      color: black;
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      padding-top: 1vh;
      padding-bottom: 1vh;
      border: 1px solid black;
    }
  
    #gallery-description:hover{
      cursor: default;
    }
    
    .gallery-navigation{
      font-family: 'sanfrancisco', sans-serif;
      font-size: 1.3em;
      margin: auto;
      text-align: center;
      color: black;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      border: 1px solid black;
      cursor: pointer;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
    .gallery-navigation:hover{
      background-color: rgba(255, 255, 255, 0.9);
      transition: 0.5s;
    }
    
      .inline-icon{
      vertical-align: -5px;
    }
    
    .inline-icon-drive{
      vertical-align: -8px;
    }
  
    .inline-icon-index{
      vertical-align: -3px;
    }
  }