.topbar{
  text-align: center;
  font-size: 3em;
  font-family: 'latex-regular', sans-serif;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

@media (max-width: 1244px) {
  .topbar{
    text-align: left;
    font-family: 'latex-regular', sans-serif;
    font-size: 3em;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border-bottom: 1px solid black;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }
  .topbar:hover{
  cursor: default;
  }
}